<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.post.station">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".PostStationApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".NewlybuildActivity"></activity>
        <activity android:name=".TimeLimitationAgreementActivity" />
        <activity android:name=".MakeCollectionsActivity" />
        <activity android:name=".ui.homepage.SmsStatisticsActivity" />
        <activity android:name=".ui.homepage.LinechartActivity" />
        <activity android:name=".ui.mine.AddExpressBrandActivity" />
        <activity android:name=".ui.mine.AddCustomerActivity" />
        <activity android:name=".ui.homepage.SmsHelpActivity" />
        <activity android:name=".CapitalDetailsActivity" />
        <activity android:name=".NewSignatureActivity" />
        <activity android:name=".BatchOrderActivity" />
        <activity android:name=".QuotationActivity" />
        <activity android:name=".AssistanceActivity" />
        <activity android:name=".OrderSettingActivity" />
        <activity android:name=".CreateOrderActivity" />
        <activity android:name=".ui.mine.BrandManagementaActivity" />
        <activity android:name=".ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.post.station.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity android:name=".SetUpActivity"/>
<activity android:name=".ui.mine.FeedBackActivity"/>
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".zxing.CaptureActivity" />
        <activity android:name=".ui.login.RegisterActivity" />
        <activity android:name=".ui.mine.MyWalletActivity" />
        <activity android:name=".ui.login.FoundPasswordActivity" />
        <activity android:name=".ui.homepage.SmsTemplateActivity" />
        <activity android:name=".ui.homepage.ExpressSignatureActivity" />
        <activity android:name=".ui.homepage.InformActivity" />
        <activity android:name=".ui.homepage.OrderActivity" />
        <activity android:name=".ui.homepage.SmsRecordActivity" />
        <activity android:name=".ui.homepage.SmsRechargeActivity" />
        <activity android:name=".ui.homepage.MyOrderActivity" />
        <activity android:name=".ui.homepage.SendSmsActivity" />
    </application>

</manifest>